.product{
    display: flex;
    margin-bottom: 200px;
    margin: 0;
    
}





.imgProduct {
    width: 220px;
    height: auto;
    margin-left: 0px;
    
}


.infoProduct{
    margin-left: 60px;
  text-align: center;
}

.infoProduct > h1 {
    font-size: 40px;
}

.infoProduct > h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 96, 144);
}

.btnprod{
font-size:20px;
background-color: #530007;
border-radius: 40px;
margin-left: 10px;
color: aliceblue;
}

