.product{
    display: flex;
    margin-bottom: 200px;
    margin: 0;
    
}





.imgProduct {
    width: 220px;
    height: auto;
    margin-left: 0px;
    
}


.infoProduct{
    margin-left: 40px;
    font-size: 30px;
}

