.auth-layout {
    background-position: center;

    min-height: 100dvh;


    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #FF66C4;
    width: 1380px;
    height: 300px;



    display: flex;

    align-items: center;
    justify-content: center;
    color: #DF0052;
}

.header>h1 {
    font-size: 100px;


}

.header>img {

    max-height: 300px;
    width: 300px;
    padding-left: 100px;

}

.body1 {
    background-color: #FF86C0;
    width: 1180px;
    height: 1700px;
    justify-content: center;
    align-items: center;
    

    margin-left: 400px;
}

.l1 {
    background-color: #00000033;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height:900px;
 margin-left:210px;
    margin-top: 200px;
}

.userl1 {
    background-color: #00000033;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height:900px;
 margin-left:210px;
    margin-top: 200px;
}

.adressl1 {
    background-color: #00000033;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height:900px;
 margin-left:210px;
    margin-top: 200px;
}

.cardl1 {
    background-color: #00000033;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height:900px;
 margin-left:210px;
    margin-top: 200px;
}

.buyl1 {
    background-color: #00000033;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 450px;
    height:900px;
 margin-left:210px;
    margin-top: 200px;
}

.l2 {
    justify-content: center;
    align-items: center;
    background-color: #61000078;
    color: aliceblue;
    width: 130px;
    height: 110px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 60px;
    margin-left: 30px;

}

.userl2 {
    justify-content: center;
    align-items: center;
    background-color: #61000078;
    color: aliceblue;
    width: 130px;
    height: 90px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 60px;
    margin-left: 30px;

}

.adressl2 {
    justify-content: center;
    align-items: center;
    background-color: #61000078;
    color: aliceblue;
    width: 130px;
    height: 90px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 60px;
    margin-left: 30px;

}

.cardl2 {
    justify-content: center;
    align-items: center;
    background-color: #61000078;
    color: aliceblue;
    width: 130px;
    height: 90px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 40px;
    margin-bottom: 60px;
    margin-left: 30px;

}

.buyl2 {
    justify-content: center;
    align-items: center;
    background-color: #61000078;
    color: aliceblue;
    width: 200px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 70px;
    margin-bottom: 60px;
    margin-left: 30px;

}

.form1{
    width: 200px;
    height: 600px;
    display: flex;
   
}
.form1 > .login-form{
    display: flex;
  flex-flow: column;
  gap: 20px;
  margin-left: 50px;
}

.form1 > .user-form{
    display: flex;
  flex-flow: column;
  gap: 20px;
  margin-left: 50px;
}

.form1 > .adress-form{
    display: flex;
  flex-flow: column;
  gap: 20px;
  margin-left: 50px;
}

.form1 > .card-form{
    display: flex;
  flex-flow: column;
  gap: 20px;
  margin-left: 50px;
}

.form1 > .buy-form{
    display: flex;
  flex-flow: column;
  gap: 20px;
  margin-left: 50px;
}

.LinkSenha{
    margin-left: 180px;
    
}

.l1 > button{
    margin-left: 70px;
    font-size: 25px;
    padding-bottom: 30px;
     margin-top: 20px;
    
}
.userl1 > Button{
    margin-left: 70px;
    font-size: 25px;
    padding-bottom: 30px;
    margin-top: 20px;
    
}

.adressl1 > Button{
    margin-left: 70px;
    font-size: 25px;
    padding-bottom: 30px;
    margin-top: 20px;
    
}

.cardl1 > Button{
    margin-left: 70px;
    font-size: 25px;
    padding-bottom: 30px;
    margin-top: 20px;
    
}

.buyl1 > Button{
    margin-left: 70px;
    font-size: 25px;
    padding-bottom: 30px;
    margin-top: 20px;
    
}

.l1 > h1 {
    font-size: 80px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.userl1 > h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.adressl1 > h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.cardl1 > h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.buyl1 > h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.l1 > label{
font-size: 30px;
}

.userl1 > label{
font-size: 30px;
}

.adressl1 > label{
font-size: 30px;
}

.cardl1 > label{
font-size: 30px;
}

.buyl1 > label{
font-size: 30px;
}
